.login-wrapper, .signup-wrapper {

  text-align: center;
  label, input {
    width: 90%;
  }
  button.btn-primary {
    margin-top: 15px;
  }
  .alert-danger {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.modal-header {
  position: relative;
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.tab-content {
  min-height: 210px;
  text-align: center;
  p {
    margin: 10px 0;
  }
  .field-line {
    margin: 10px 0;
  }
  label {
    text-align: left;
  }
}

.auth-wrapper {
  text-align: right;
  padding-top: 10px;
}