@import "../variables";

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 10px 15px;
  height: 63px;
  background: #1565c0;
  .side-nav {
    position: fixed;
    top: 0;
    right: -302px;
    width: 300px;
    height: 100vh;
    padding: 15px 0;
    background: @secondaryBGcolor;
    border-left: 2px solid #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: all 300ms;
    z-index: 9999;
    &.open {
      right: -2px;
    }
    .burger {
      position: absolute;
      top: -10px;
      left: -95px;
    }
  }
}




