@import "../variables";

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 10px 15px;
  height: 63px;
  background: #1a2732;
}

h1 {
  font-size: 22px;
  font-weight: 300;
  color: #ffae12;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  text-transform: uppercase;
}

h1 span{
  color: #00a0df !important;
}



