@import "../variables";

header{
  position: fixed;
  z-index: 1;
  top:0;
  width:100%;
  padding:10px 15px;
  height: 63px;
  background: #1a2732;
  .side-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    padding: 10px 0;
    background: @secondaryBGcolor;
    border-left:2px solid #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow: hidden;
    transition: all 300ms;
    z-index: 9999;
    &.open {
      width: 300px;
      padding-left:15px;
      padding-right:15px;
    }
  }
}

h1 {
  font-size: 22px;
  font-weight: 300;
  color: #fed189;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  text-transform: uppercase;
}

h1 span{
  color: #00a0df !important;
}



